PORT=3000
N8N_WEBHOOK_URL=https://n8n.bezura.cloud/webhook/SEU-WEBHOOK-ID
N8N_WEBHOOK_TOKEN=trocar-por-token-forte-e-longo
BETEL_ACCESS_TOKEN=seu-access-token-betel
BETEL_SECRET_ACCESS_TOKEN=seu-secret-access-token-betel
